@charset "ISO-8859-1";


/* button div */
#buttons1 {
  text-align: center;
}
.button {
  border: none;
  color: white;
  padding: 8px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
	
	} 
/* start da css for da buttons */
.btn1 {
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 12px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
}

.btn1:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}

.ash {
  background-color: #9e9e9e;
  box-shadow: 0px 5px 0px 0px #424242;
}

.ash:hover {
  background-color: #212121;
}

